<puzzle-captcha
        key="{{ challenge }}"
        width="350"
        height="200"
        piece-width="80"
        piece-height="50"
        src="{{ path('captcha', {challenge}) }}"
>
    <div class="captcha-valid"></div>
    <input type="hidden" class="captcha_answer">
    <input type="hidden" class="captcha_challenge" value="{{ challenge }}">
</puzzle-captcha>

<script src="{{ asset('bundles/captchahandler/js/captcha.js') }}"></script>